body{
    background: rgb(20,113,231);
    background-size:auto;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Glory', sans-serif;
    }
.container{
    height: 100%;
    align-content: center;
    }
.d-flex{
    flex-wrap: nowrap;
    }
.card-header h3{
    color: white;
    }
.card{
     height: 425px;
     margin-top: auto;
     margin-bottom: auto;
     width: 400px;
     border-radius: 7px;
     background: rgb(20,145,231);
     background: linear-gradient(137deg, rgba(20,145,231,0.958420868347339) 13%, rgba(10,17,18,0.7539390756302521) 100%);
     }
.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}
.login_btn{
        color: black;
        background-color: #36d436;
        padding-left: 50px;
        padding-right: 50px;
    }
    .mt-2{
        margin-bottom: 0px;
    }
    .login_btn:hover{
        color: black;
        background-color: white;
        }