body{
    font-family: 'Glory', sans-serif;
    margin:0;
    background-color: white;
    font-size: 18px;
}

h3{
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

h4{
    font-size: 35px;
}


/* HEADER*/
.nombre-titulo {
    background-color: #4DFE3E;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    padding: 15px 25px 15px 25px;
}

li{
    list-style: none;
    margin-right: 25px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 18px;
}

.lista{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
    transition: all 1s ease;
    position: relative;
}

a:hover{
    color: black;
    -webkit-transform: scale(1.23);
    transform: scale(1.23);
}

.boton{
    text-decoration: none;
    font-size: 18px;
    background: #131c91;
    padding: 15px 30px 15px 30px;
    color: white;
    border-radius: 8px;
    transition: all 1s ease;
    position: relative;
}

.boton:hover{
    background-color: black;
    color: white;
    -webkit-transform: scale(1.13);
    transform: scale(1.1);
}

h1{
    font-size: 70px;
    margin: 0;
    color: white;
    padding: 15px 30px 15px 30px;
    display: inline-block;
    text-align: center;
}
header{
    background: rgb(84,246,135);
background: radial-gradient(circle, rgba(84,246,135,0.958420868347339) 0%, rgba(0,56,255,1) 100%);
    height: 15vh;
    background-size: cover;
    margin: 0;
}

.botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: auto;
}

h2{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 35px;
    color: white;
}

.titular{
    text-align: center;
    margin-top: 150px;
}

.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

header .metodos_pago{
    max-width: 380px;
    height: 50vh;
    width: 20%;
    margin: 380px;
}

img{
    max-width: 60%;
    position: center;
}

/* Seccion Servicios*/

.seccion-servicios .parrafo{
    max-width: 80%;
    text-align: center;
}

.cont-servicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicio{
    width: 25%;
    padding: 50px 38px 40px 38px;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow:hidden;
    transition: all 1s ease;
    position: relative;
    justify-content: center;
}

.servicio:hover{
    -webkit-transform: scale(1);
    transform: scale(1.05);
}

.color1{
    background-color: #0036FF;
    color: white;
}

.color2{
    background-color: #4DFE3E;
}

.servicio h4{
    font-size: 30px;
    margin:5%;
    text-align: center;
}

.servicio p{
    font-size: 17px;
    text-align: center;
}
.servicio img{
    text-align: center;
}

.seccion-servicios{
    margin-top: 0;
    border-top: solid;
    border-color: #36d436;
    margin-bottom: 50px;
}

.titulo{
    display:flex;
    justify-content: space-around;
}

.fa-crown{
    font-size: 2rem;
}
.bb{
    text-align: center;
    width:100%;
}

.bb a{
    background-color: rgb(50, 197, 255);
    color: black;
    font-weight: 800;
    transition: all 1s ease;
    position: relative;
}

.bb a:hover{
    background-color: black;
    color: white;
    -webkit-transform: scale(1.23);
    transform: scale(1.23);
}

/* Footer */
footer{
    background: #0036FF;
    padding: 47px;
    color: white;
}

.cont-footer{
    margin-top: -20px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.cont-footer-icono{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-footer ul{
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 25px;
}

.fab{
     font-size: 20px;
 }

.fab:hover{
    color: black;
    -webkit-transform: scale(1.28);
    transform: scale(1.58);
}

.menu-footer-elemento{
    font-size: 15px;
}
.menu-footer-elemento span{
    font-size: 18px;
    font-weight: 600;
}

.menu-footer-elemento li{
    font-size: 15px;
    margin: 10px -30px;
}

.menu-footer-elemento li:hover{
    -webkit-transform: scale(1.23);
    transform: scale(1.23);
    color: black;
}

.menu-footer-elemento ul{
    display: block;
}
